@use '../abstracts/mixins' as mxn;

.primary-header {
	&__content {
		--max-width: 51.4rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: clamp(3.2rem, 5vw, 4.8rem);
		max-inline-size: var(--max-width);
		background-color: var(--clr-neutral-200);
		@include mxn.mq(small) {
			--max-width: 51.4rem;
			padding-block-start: 5.6rem;
			padding-inline-end: 5.6rem;
		}
		@include mxn.mq(large) {
			--max-width: 45.5rem;
		}
	}
}
