@use '../abstracts/mixins' as mxn;

.primary-header-grid {
	display: grid;
	gap: 2.4rem;

	&__image img {
		margin-inline: auto;
	}

	@include mxn.mq(small) {
		&__image,
		&__content {
			grid-column: 1 / 1;
			grid-row: 1 / 1;
		}

		&__content {
			place-self: end start;
		}
	}
}

.content-grid {
	--content-flex-gap: 3.2rem;
	display: grid;
	gap: var(--content-flex-gap);
	@include mxn.mq(medium) {
		--content-flex-gap: 7rem;
		grid-auto-flow: column;
		grid-template-columns: auto 1fr;
	}

	@include mxn.mq(large) {
		--content-flex-gap: 3rem;
	}
}
